body, html{
    width: 100vw;
    height: 100vh;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 10px 0 50px 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main{
    display: flex;
    flex-direction: column;
    flex: 0 0 0;
    border: solid 1px darkgray;
    font-family: Arial, sans-serif;
    padding: 10px 10px 20px 10px;
    height: auto;
    
}
input{
    width: 95%;
    padding: 5px;
}

.password{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.password a{
    color: #146EB4;
    text-decoration: none;
}

#continue{
    width: 100%;
    background-color: rgb(230, 174, 35);
    border-color: darkgoldenrod;
    padding: 5px;
    margin: 10px 0 20px 0;
}

.help a{
    color: #146EB4;
    text-decoration: none;
    margin: 0;
}

.new{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 0;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: grey;
    padding: 30px 0 50px 0;
}

h2{
    width: 50%;
    text-align: center;
    border-bottom: 1px solid darkgrey;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
}

h2 span{
    background:#fff;
    padding:0 10px;
}

button{
    display: flex;
    justify-content: center;
    flex: 0 0 0;
    background-color: lightgrey;
    border-color: darkgrey;
    padding: 5px;
    margin: 20px;
    width: 50%;
    
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}

footer li{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 10px;
    font-weight: normal;
}

footer a{
    color: #146EB4;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

footer p{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size: 12px
}